# Project_1: Olympics2022

### Medal table of NOC ranked by the number of medals won during the Olympics2022

The Olympics2022.csv is a delimited text file containing the number of medals of teams in the 2022 Olympics in Beijing. Additionally it also contains the number of medals won per NOC in every modality.
Data set from taken from https://www.kaggle.com/datasets/alpascali/olympics2022

In [ ]:
#loading the required libraries

In [40]:
import pandas as pd

In [41]:
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
# loding dataset and storing it to variable olympics

In [42]:
olympics=pd.read_csv("Olympics2022.csv",sep=';')

In [ ]:
# printing top 10 rows of dataframe

In [43]:
olympics.head(10)

,RANK,NOC CODE,NOC,Continent,Men Athletes,Women Athletes,Total Athletes,Gold,Silver,Bronze,...,Figure Skating,Freestyle Skiing,Ice Hockey,Luge,Nordic Combined,Short Trank Speed Skating,Skeleton,Sky Jumping,Snowboard,Speed Skating
0,1.0,NOR,Norway,Europe,53,31,84,16,8,13,...,NaN,1.0,NaN,NaN,4.0,NaN,NaN,1.0,1.0,3.0
1,2.0,GER,Germany,Europe,96,49,145,12,10,5,...,NaN,1.0,NaN,6.0,2.0,NaN,3.0,3.0,NaN,NaN
2,3.0,CHN,People's Republic of China,Asia,94,86,180,9,4,2,...,1.0,6.0,NaN,NaN,NaN,4.0,1.0,NaN,2.0,1.0
3,4.0,USA,United States,North America,118,108,226,8,10,7,...,3.0,8.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0,3.0
4,5.0,SWE,Sweden,Europe,62,59,121,8,5,5,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
5,6.0,NED,Netherlands,Europe,21,20,41,8,5,4,...,NaN,NaN,NaN,NaN,NaN,4.0,1.0,NaN,NaN,12.0
6,7.0,AUT,Austria,Europe,62,42,104,7,7,4,...,NaN,NaN,NaN,3.0,1.0,NaN,NaN,2.0,4.0,NaN
7,8.0,SUI,Switzerland,Europe,92,75,167,7,2,5,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
8,9.0,ROC,Russian Olympic Committee,Europe/Asia,110,104,214,6,12,14,...,6.0,3.0,1.0,NaN,NaN,2.0,NaN,1.0,1.0,2.0
9,10.0,FRA,France,Europe,50,36,86,5,7,2,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [ ]:
# looking for number of rows and columns

In [44]:
olympics.shape

(91, 27)

In [ ]:
# here in dataset olympics there are total 91 rows and 27 columns
# showing column names

In [45]:
olympics.columns

Index(['RANK', 'NOC CODE', 'NOC', 'Continent', 'Men Athletes',
       'Women Athletes', 'Total Athletes', 'Gold', 'Silver', 'Bronze',
       'Total Medals', 'Rank By Total', 'Alpine Skiing', 'Biathlon',
       'Bobsleigh', 'Cross Country Skiing', 'Curling', 'Figure Skating',
       'Freestyle Skiing', 'Ice Hockey', 'Luge', 'Nordic Combined',
       'Short Trank Speed Skating', 'Skeleton', 'Sky Jumping', 'Snowboard',
       'Speed Skating'],
      dtype='object')

In [ ]:
# showing columns with total null values

In [46]:
olympics.isnull().sum()

RANK                         62
NOC CODE                      0
NOC                           0
Continent                     0
Men Athletes                  0
Women Athletes                0
Total Athletes                0
Gold                          0
Silver                        0
Bronze                        0
Total Medals                  0
Rank By Total                62
Alpine Skiing                18
Biathlon                     22
Bobsleigh                    26
Cross Country Skiing         20
Curling                      23
Figure Skating               23
Freestyle Skiing             14
Ice Hockey                   24
Luge                         25
Nordic Combined              25
Short Trank Speed Skating    21
Skeleton                     25
Sky Jumping                  21
Snowboard                    14
Speed Skating                17
dtype: int64

In [ ]:
# checking data having null rank

countries with zero medals with respective columns having null values here with replace null with zero for our convenience

In [51]:
# finding top 10  Countries with highest Gold medals

In [58]:
olympics[['RANK','NOC','Gold']].sort_values(by=['RANK']).head(10)

   RANK                         NOC  Gold
0   1.0                      Norway    16
1   2.0                     Germany    12
2   3.0  People's Republic of China     9
3   4.0               United States     8
4   5.0                      Sweden     8
5   6.0                 Netherlands     8
6   7.0                     Austria     7
7   8.0                 Switzerland     7
8   9.0   Russian Olympic Committee     6
9  10.0                      France     5

In [ ]:
# finding top 10 Countries with highest number of total medals

In [59]:
olympics[['Rank By Total','NOC','Total Medals']].sort_values(by=['Rank By Total']).head(10)

    Rank By Total                        NOC  Total Medals
0             1.0                     Norway            37
8             2.0  Russian Olympic Committee            32
1             3.0                    Germany            27
10            4.0                     Canada            26
3             5.0              United States            25
4             6.0                     Sweden            18
6             6.0                    Austria            18
11            6.0                      Japan            18
5             9.0                Netherlands            17
12            9.0                      Italy            17

In [ ]:
# finding top 10 Countries with highest number of Total Athletes

In [63]:
olympics[['NOC','Total Athletes']].sort_values(by=['Total Athletes'],ascending=False).head(10)

                           NOC  Total Athletes
3                United States             226
10                      Canada             218
8    Russian Olympic Committee             214
2   People's Republic of China             180
7                  Switzerland             167
1                      Germany             145
11                       Japan             123
4                       Sweden             121
12                       Italy             118
21              Czech Republic             116

In [64]:
# finding top 5 Countries with highest number of Female Athletes
#df1 = df.loc[:, df.columns != col]

In [66]:
olympics[['NOC','Women Athletes']].sort_values(by=['Women Athletes'],ascending=False).head(5)

                           NOC  Women Athletes
3                United States             108
10                      Canada             106
8    Russian Olympic Committee             104
2   People's Republic of China              86
7                  Switzerland              75

In [99]:
# finding total male and female athletes
# olympics.loc[:,olympics.columns.isin(['Men Athletes','Women Athletes'])].sum()
# alternate way

In [98]:
Athletes=olympics[['Men Athletes','Women Athletes']].sum()
Athletes

Men Athletes      1599
Women Athletes    1302
dtype: int64

In [ ]:
#finding total gold,silver,bronze medals

In [105]:
Total_medals=olympics[['Gold','Silver','Bronze']].sum()
Total_medals

Gold      109
Silver    109
Bronze    109
dtype: int64

In [ ]:
#sum of total medals

In [106]:
Total_medals.sum()

327

In [ ]:
#finding sports with total medals sorting it to descending order

In [91]:
Sports_with_total_medals=olympics.loc[:,~olympics.columns.isin(['RANK','NOC CODE','NOC','Continent','Men Athletes','Women Athletes','Total Athletes','Gold','Silver','Bronze','Total Medals','Rank By Total'])].sum().sort_values(ascending=False)

In [108]:
Sports_with_total_medals

Speed Skating                42.0
Freestyle Skiing             37.0
Cross Country Skiing         36.0
Alpine Skiing                33.0
Biathlon                     33.0
Snowboard                    33.0
Short Trank Speed Skating    27.0
Figure Skating               17.0
Sky Jumping                  15.0
Bobsleigh                    12.0
Luge                         11.0
Curling                       9.0
Nordic Combined               9.0
Ice Hockey                    6.0
Skeleton                      6.0
dtype: float64

In [109]:
#finding count of countries by continent

In [121]:
Country_count=olympics['Continent'].value_counts()
Country_count

Europe           46
Asia             19
North America     8
South America     7
Africa            6
Oceania           3
Europe/Asia       2
Name: Continent, dtype: int64